@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');

:root {
  font-family: Vazirmatn, system-ui, Avenir, Helvetica, Arial, sans-serif;
  direction: rtl;
}

body {
  margin: 0;
  padding: 0;
  background-color: #071b33;
}

* {
  box-sizing: border-box;
}

button, input {
  font-family: Vazirmatn !important;
}